apiVersion: v1
kind: Service
metadata:
  name: loki-read-headless
  labels:
    app: loki
    component: read
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
  - name: http-metrics
    port: 3100
    targetPort: 3100
    protocol: TCP
  - name: grpc
    port: 9095
    targetPort: 9095
    protocol: TCP
  - name: memberlist
    port: 7946
    targetPort: 7946
    protocol: TCP
  selector:
    app: loki
    component: read
