apiVersion: v1
kind: Service
metadata:
  name: loki-gateway
  labels:
    app: loki
    component: gateway
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3100
    targetPort: 3100
    protocol: TCP
  selector:
    app: loki
    component: gateway
