apiVersion: v1
kind: Service
metadata:
  name: indexer
  labels:
    app: indexer
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: indexer
