apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: database-credentials
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretstore
    kind: SecretStore
    namespace: ghost-protocol-dev
  target:
    name: database-credentials
    creationPolicy: Owner
    template:
      type: Opaque
      engineVersion: v2
      data:
        DB_HOST: "{{ .host }}"
        DB_PORT: "{{ .port }}"
        DB_NAME: "{{ .dbname }}"
        DB_USERNAME: "{{ .username }}"
        DB_PASSWORD: "{{ .password }}"
  dataFrom:
  - extract:
      key: ghost-protocol/dev/database/credentials
      decodingStrategy: None
