apiVersion: v1
kind: Service
metadata:
  name: ai-engine
  labels:
    app: ai-engine
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: ai-engine
